.auth .auth-form-light {
    border-radius: 10px;
}
.content-wrapper {
    background: #f2f4ff;
}
.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 11111;
}
.loader img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
td a:hover{
    text-decoration: none;
}
td a i{
    font-size: 14px;
}
/* td a.edit_action{
    margin-right: 1rem;
    color: #bfe461;
}
td a.delete_action{
    color: #e92828;
} */
